<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.2.xsd">


	<http auto-config="true">
		<intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/userpages**" access="isAuthenticated()" />
		<intercept-url pattern="/userpages/**" access="isAuthenticated()" />

		<intercept-url pattern="/controller**" access="isAuthenticated()" />
		<intercept-url pattern="/controller/**" access="isAuthenticated()" />
		<intercept-url pattern="/controller/open/**" access="isAuthenticated()" />

		<!--Adding remember me checkbox to login page, 2592000=30 days-->
		<remember-me key="uniqueAndSecret" token-validity-seconds="2592000"/>

		<!--Cross Site Request Forgery (CSRF)-->
		<csrf disabled="true" />
	</http>

	<authentication-manager>
		<authentication-provider>
			<!--<user-service>-->
				<!--<user name="admin" password="123" authorities="ROLE_ADMIN" />-->
				<!--<user name="adm" password="123" authorities="ROLE_ADMIN" />-->
				<!--<user name="usr" password="123" authorities="ROLE_USER" />-->
			<!--</user-service>-->

			<jdbc-user-service data-source-ref="dataSource"
							   users-by-username-query=
									   "SELECT User.contactPhoneNumber as 'username', User.password, User.enabled FROM User where User.contactPhoneNumber=?"
							   authorities-by-username-query=
									   "SELECT User.contactPhoneNumber as 'username', UserRoles.role FROM User, UserRoles where User.role=UserRoles.id and User.contactPhoneNumber=?" />
		</authentication-provider>
	</authentication-manager>

</beans:beans>